<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wa.dao.ConsoledMapper" >
  <resultMap id="BaseResultMap" type="com.wa.pojo.Consoled" >
    <constructor >
      <arg column="ip" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="infectcnt" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="city" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="area" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <insert id="insert" parameterType="com.wa.pojo.Consoled" >
    insert into t_ip_consoled (ip, infectcnt, city, 
      area)
    values (#{ip,jdbcType=VARCHAR}, #{infectcnt,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, 
      #{area,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wa.pojo.Consoled" >
    insert into t_ip_consoled
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ip != null" >
        ip,
      </if>
      <if test="infectcnt != null" >
        infectcnt,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="area != null" >
        area,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ip != null" >
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="infectcnt != null" >
        #{infectcnt,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        #{area,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <resultMap id="allInfo" type="java.util.HashMap">
    <!--<result column="value" property="values" jdbcType="INTEGER" javaType="int" />-->
    <result column="value" property="values" jdbcType="INTEGER" javaType="int" />
    <result column="name"  property="keySet" jdbcType="VARCHAR" javaType="string"/>
    <!--<result column="name" property="entrySet" jdbcType="VARCHAR" javaType="string"/>-->
  </resultMap>


  <select id="queryMapData" resultMap="allInfo" >
    select city as "name",
    sum(infectcnt) as "value"
    from t_ip_consoled
    group by city
  </select>


</mapper>