<DIV id="echartsMap_1">
    <DIV>
        <div style="height:95%; width: 100%;position:relative;">
            <div id="mapContainer"
                 style="position: absolute; height: 100%; width: 70%; background-color: transparent; cursor: default;text-align:left">
                &nbsp;无相关数据
            </div>
            <div id="pieChart"
                 style="position:relative;z-index:5;height:100%;padding-right:0.5em;width:40%;float:right;overflow:hidden;">

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var option;
    var maxRange = 1000;
    setInterval('autoScroll(".scroll")', 3000);

    function autoScroll(obj) {
        $(obj).find(".rectangle-list").animate({
            marginTop: "-25px"

        }, 500, function () {

            $(this).css({marginTop: "0px"}).find("li:first").appendTo(this);

        });
    }

    var ma = {
        "success": true, "title": "木马主控病毒感染总数",
        "data": [{"name": "克拉玛依", "value": 621}, {"name": "哈密", "value": 63}, {"name": "阿克苏", "value": 271},
            {"name": "阿勒泰", "value": 532}, {"name": "喀什", "value": 167}, {"name": "昌吉州", "value": 246},
            {"name": "克州", "value": 137}, {"name": "吐鲁番", "value": 317}, {"name": "博州", "value": 271},
            {"name": "乌鲁木齐", "value": 272}, {"name": "巴州", "value": 172}, {"name": "那曲地区", "value": 132}, {
                "name": "和田",
                "value": 621
            }
        ]
    };
    var kzrc = {
        "success": true, "title": "蠕虫病毒感染总数",
        "data": [{"name": "巴州", "value": 136}, {"name": "昌吉州", "value": 523}, {"name": "阿克苏", "value": 241},
            {"name": "阿勒泰", "value": 731}, {"name": "喀什", "value": 26}, {"name": "哈密", "value": 412},
            {"name": "克州", "value": 111}, {"name": "吐鲁番", "value": 211}, {"name": "博州", "value": 46},
            {"name": "乌鲁木齐", "value": 321}, {"name": "克拉玛依", "value": 257}, {
                "name": "那曲地区",
                "value": 413
            }, {"name": "和田", "value": 525}
        ]
    };
    var skrc = {
        "success": true, "title": "木马受控病毒感染总数",
        "data": [{"name": "乌鲁木齐", "value": 478}, {"name": "吐鲁番", "value": 273}, {"name": "博州", "value": 431},
            {"name": "阿勒泰", "value": 34}, {"name": "喀什", "value": 152}, {"name": "昌吉州", "value": 212},
            {"name": "克州", "value": 465}, {"name": "哈密", "value": 167}, {"name": "阿克苏", "value": 421},
            {"name": "克拉玛依", "value": 624}, {"name": "巴州", "value": 263}, {"name": "那曲地区", "value": 190}, {
                "name": "和田",
                "value": 352
            }
        ]
    };
    var varList = [ma, kzrc, skrc];
    getData();
    //    setInterval('getData()', 10000 * (parseInt(varList[1].data.length)));
    setInterval('getData()', intervalTime);

    function getTopData(dataJson) {
        var topData = "[";
        for (var i = 0; i < 4; i++) {
            topData += '{name:"' + dataJson[i].name + '", value: ' + dataJson[i].value + "},";

        }
        topData = eval(topData.substring(0, topData.length - 1) + "]");
        return topData;
    }

    function getData() {
        var i = 0;
        if (i == 0) {
            DrawMap(eval(varList[i].data), varList[i].title, getTopData(varList[i].data));
            var interval = setInterval(function () {
                ++i;
                DrawMap(eval(varList[i].data), varList[i].title, getTopData(varList[i].data));
                if (i == (parseInt(varList.length - 1))) {
                    clearInterval(interval);
                    return;
                }
            }, 3000 * (parseInt(varList[i].data.length)));
        }

    }

    function DrawMap(dataJson, mapTitle, topData) {
        //列表信息
        var op = "";
        for (var i = 0; i < dataJson.length; i++) {
            op += "<li><div>" + (i + 1) + "、" + dataJson[i].name + mapTitle + ":" + dataJson[i].value + "</div></li>";
        }
        $("#liValue").empty();
        $("#liValue").html(op);
        option = {
            title: {
                text: mapTitle,
                x: 'left'
            },
            tooltip: {
                trigger: 'item',
                formatter: function (param) {//提示信息格式化
                    return "<b>" + param.data.name + "</b><br/>数量：" + param.data.value;
                }
            },
            legend: {
                orient: 'vertical', //图例位置2
                x: 'left',
                data: ['']//图例文本信息
            },
            dataRange: {
                min: 0, //值域控件最小值
                max: maxRange, //值域控件最大值
                calculable: true, //默认为false,设置为true时值域显示为线性渐变
                precision: 0, //小数精度，默认为0
                color: ['yellow', 'lightgreen', '#FFFCEC']//值域颜色，最少两个
            },
            series: [
                {
                    type: 'map',
                    mapType: '新疆', //地图类型 china:中国；continent:世界
                    hoverable: true, //鼠标经过时，是否高亮显示
                    roam: true,
                    data: dataJson,
                    itemStyle: {//地图底色
                        normal: {
                            borderColor: '#A1DFF2', //地图边界线颜色
                            borderWidth: 1, //边界线宽度
                            areaStyle: {
                                color: '#fff'
                            },
                            label: {
                                show: true
                            }
                        }
                    },
                    geoCoord: geoCoord	//地区经纬度
                },
                {//坐标标注
                    type: 'map',
                    mapType: '新疆',
                    data: [],
                    markPoint: {
                        // 标注大小，半宽（半径）参数，当图形为方向或菱形则总宽度为symbolSize * 2
                        symbolSize: 5,
                        itemStyle: {
                            normal: {//地图内图形的默认样式和强调样式（悬浮时样式）
                                borderColor: 'red',
                                borderWidth: 1, // 标注边线线宽，单位px，默认为1
                                label: {
                                    show: false
                                }
                            },
                            emphasis: {//地图内图形的强调样式（悬浮时样式）
                                borderColor: 'red',
                                borderWidth: 5,
                                label: {
                                    show: false
                                }
                            }
                        },
                        data: topData
                    }
                },
                {//向外发散光圈
                    name: 'Top5',
                    type: 'map',
                    mapType: '新疆',
                    data: [],
                    markPoint: {
                        symbol: 'emptyCircle',
                        symbolSize: function (v) {
                            //光圈大小,v代表节点的value值,可改为return 10+v*10/maxRange;
                            return 10 + v / 100
                        },
                        effect: {
                            show: true,
                            shadowBlur: 0
                        },
                        itemStyle: {
                            normal: {
                                borderColor: 'red',
                                label: {show: false}
                            }
                        },
                        tooltip: {//注：此处的tooltip必须放在data参数上面，才能生效
                            formatter: function (param) {
                                return "<b>" + param.data.name + "</b><br/>(" + param.data.value + ")";
                            }
                        },
                        data: topData
                    }
                }
            ]
        };
        require.config({
            paths: {
                echarts: 'js/echarts/www'
            }
        });
        require(
            [
                'echarts',
                'echarts/chart/map'
            ],
            DrawEChart
        );
    }

    //回调函数 渲染ECharts图表
    function DrawEChart(ec) {

        var chartContainer = document.getElementById("mapContainer");

        //加载图表

        var myChart = ec.init(chartContainer);
        myChart.on(echartsConfig.EVENT.CLICK, echartsClick);//设置单击事件
        myChart.setOption(option);

    }

    function echartsClick(param) {
        if (param.data.areaCode != undefined) {
            alert(param.data.name + ":" + param.data.areaCode);
        }
    }
</script>
