<!--<DIV id="login" class="postbox">-->
    <!--<div class="right_header">-->
        <!--<h1>登录</h1>-->
    <!--</div>-->
    <!--<div>-->
        <!--<form action="/user/login.do" method="post">-->
            <!--username:<input type="text" name="name" id="username">-->
            <!--password:<input type="password" name="password" id="password">-->
            <!--<input type="submit" value="login">-->
        <!--</form>-->
    <!--</div>-->
<!--</div>-->
<div class="wanga_login">

</div>