<DIV id="ui_item" >
    <div class="wrap">
        <div class="content">
            <div class="content-header">
                <div class="leftside-content-header">
                    <ul class="breadcrumbs">
                        <li><i class="fa fa-home" aria-hidden="true"></i><a href="#" onclick="loadpage('WAIndex');">首页</a></li>
                        <li><a>条目信息</a></li>
                    </ul>
                </div>
            </div>
            <div class="row animated fadeInRight"  style="background: #FFFFFF;">
                <div class="col-sm-12">
                    <h4 class="section-subtitle"><b>病毒详细信息</b></h4>
                    <div class="panel">
                        <div class="panel-content">
                            <div class="table-responsive">
                                <table id="basic-table" class="data-table table table-striped nowrap table-hover" cellspacing="0" width="100%" >
                                    <thead>
                                    <tr>
                                        <th>名称</th>
                                        <th>感染次数</th>
                                        <th>处理方式</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>Trojan.qq3344</td>
                                        <td>243</td>
                                        <td>查杀</td>
                                    </tr>
                                    <tr>
                                       <td>Avconsol.exe</td>
                                        <td>221</td>
                                        <td>查杀</td>
                                    </tr>
                                    <tr>
                                       <td>BoboDvldr32.exe</td>
                                        <td>210</td>
                                        <td>查杀</td>
                                    </tr>
                                    <tr>
                                      <td>Dkbdll.exe</td>
                                        <td>193</td>
                                        <td>查杀</td>
                                    </tr>
                                    <tr>
                                      <td>Krn132.exe</td>
                                        <td>421</td>
                                        <td>查杀</td>
                                    </tr>
                                    <tr>
                                       <td>Cfiaudit.exe</td>
                                        <td>420</td>
                                        <td>查杀</td>
                                    </tr>
                                    <tr>
                                       <td>Avpm.exe</td>
                                        <td>315</td>
                                        <td>查杀</td>
                                    </tr>
                                    <tr>
                                       <td>Diagcfg.exe</td>
                                        <td>295</td>
                                        <td>查杀</td>
                                    </tr>
                                    <tr>
                                        <td>Icload95.exe</td>
                                        <td>192</td>
                                        <td>查杀</td>
                                    </tr>
                                    <tr>
                                    <td>Trojan.LMir.PSW.60</td>
                                        <td>395</td>
                                        <td>查杀</td>
                                    </tr>
                                    <tr>
                                      <td>Absr.exe</td>
                                        <td>375</td>
                                        <td>查杀</td>
                                    </tr>
                                    <tr>
                                       <td>Wqk.exe</td>
                                        <td>341</td>
                                        <td>查杀</td>
                                    </tr>
                                  
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
