<DIV id="ui_news" >
    <div class="wrap">
        <div class="content">
            <div class="content-header">
                <div class="leftside-content-header">
                    <ul class="breadcrumbs">
                        <li><i class="fa fa-home" aria-hidden="true"></i><a href="#" onclick="loadpage('WAIndex');">首页</a></li>
                        <li><a>news</a></li>
                    </ul>
                </div>
            </div>
            <div class="row animated fadeInUp">
                <div class="col-sm-12">
                    <h4 class="section-subtitle">最新 <b>预警信息</b></h4>
                    <div class="row">
                        <div class="col-md-6" style="background:#ffffff;">
                            <h5><b>Single</b> item open</h5>
                            <div class="panel-group" id="accordion_group">
                                <div class="panel panel-accordion">
                                    <div class="panel-header bg-scale-0">
                                        <a class="panel-title" data-toggle="collapse" data-parent="#accordion_group" href="#accordion1">
                                            Accordion 1
                                        </a>
                                    </div>
                                    <div id="accordion1" class="panel-collapse collapse in">
                                        <div class="panel-content">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-accordion ">
                                    <div class="panel-header bg-scale-0">
                                        <a class="panel-title collapsed" data-toggle="collapse" data-parent="#accordion_group" href="#accordion2">
                                            Accordion 2
                                        </a>
                                    </div>
                                    <div id="accordion2" class="panel-collapse collapse">
                                        <div class="panel-content">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-accordion">
                                    <div class="panel-header bg-scale-0">
                                        <a class="panel-title collapsed" data-toggle="collapse" data-parent="#accordion_group" href="#accordion3">
                                            Accordion 3
                                        </a>
                                    </div>
                                    <div id="accordion3" class="panel-collapse collapse">
                                        <div class="panel-content">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
