<DIV id="ui_virusGraph" >
       <div class="content">
            <div class="content-header">
                <div class="leftside-content-header">
                    <ul class="breadcrumbs">
                        <li><i class="fa fa-pie-chart" aria-hidden="true"></i><a href="#" onclick="loadpage('WAIndex');">首页</a></li>
                        <li><a  href="#" onclick="loadpage('ui_sortVirusGraph');">数据分类</a></li>
                        <li><a>ChartJS</a></li>
                    </ul>
                </div>
            </div>
           <div class="row animated fadeInUp">
                <div class="col-md-6">
                    <h4 class="section-subtitle"><b>Line</b> Chart</h4>
                    <div class="panel">
                        <div class="panel-bgWhite">
                            <canvas id="line-chart" width="400" height="260"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h4 class="section-subtitle"><b>Area</b> Chart</h4>
                    <div class="panel">
                        <div class="panel-bgWhite">
                            <canvas id="area-chart" width="400" height="260"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h4 class="section-subtitle"><b>Bar</b> Chart</h4>
                    <div class="panel">
                        <div class="panel-bgWhite">
                            <canvas id="bar-chart" width="400" height="260"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h4 class="section-subtitle"><b>Pie</b> Chart</h4>
                    <div class="panel">
                        <div class="panel-bgWhite">
                            <canvas id="pie-chart" width="400" height="260"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h4 class="section-subtitle"><b>Polar</b> Chart</h4>
                    <div class="panel">
                        <div class="panel-bgWhite">
                            <canvas id="polar-chart" width="400" height="260"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h4 class="section-subtitle"><b>Radar</b> Chart</h4>
                    <div class="panel">
                        <div class="panel-bgWhite">
                            <canvas id="radar-chart" width="400" height="260"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        <a href="#" class="scroll-to-top"><i class="fa fa-angle-double-up"></i>chuchu</a> 
        </div>
</div>
